{% extends 'base.html' %}
{% load static %}
{% block content %}



{% block css %}

    <link rel="stylesheet" href="{% static 'css/cart.css' %}">

{% endblock %}


    <div class="container">
{% if user.is_authenticated %}   
                    <h2 class="text-center mb-4">Your Cart</h2>

                    <!-- Display messages (Success/Error) -->
                    <div class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} d-flex align-items-center">
                                <i class="fas fa-info-circle mr-2"></i>
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>

                    <!-- Cart Items -->
                    <div class="cart-items">

                        {% for item in AddToCart_list %}  

                            <div class="cart-item">
                                    <img src="{{ item.materials.image.url }}" alt="{{ item.materials.title }}">
                                    <div class="cart-materials">
                                        <div>
                                            <h3>{{ item.materials.title }}</h3>
                                            <p class="price">${{ item.materials.price }}</p>
                                            <p class="quantity"><i class="fas fa-cogs"></i> Quantity: {{ item.quantity }}</p>
                                        </div>  
                                        <form action="{% url 'remove-cart' item.materials.pk %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn add-to-cart">
                                                <i class="fas fa-trash"></i> 
                                            </button>
                                        </form>
                                    </div>    
                            </div>
                        {% empty %}
                            <p class="empty-cart"><i class="fas fa-shopping-cart"></i> Your cart is empty!</p>
                        {% endfor %}          
                        
                    </div>
                </div>

                <a href="{% url 'materials' %}" class="btn btn-primary">Back To Shop</a>  
                
                
{% else %}

        <div class="alert alert-primary not-logged-in" role="alert">
            You must be logged in
        </div>

{% endif %}

{% endblock %}