{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">


<section id="header">
    <!-- navbar content  -->
    <div class="content">
        <div class="logo">
            <img src="{% static 'images/download.jpg' %}"
                width="100" height="100">
        </div>
        <div class="login-btn">
            {% if user.is_authenticated %}
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" style="border-radius: 40px;">Logout</button>
                    </form>

                        {% if user.profile.profile_pic %}

                                <a href="{% url 'profile-detail' %}">
                                    <img src="{{ user.profile.profile_pic.url }}" width="45" height="45" style="border-radius: 50%;">
                                </a>

                        {% else %}

                                <a href="{% url 'profile-detail' %}">
                                    <img src="{% static 'images/profile.png' %}"
                                    width="45" height="45" style="border-radius: 50%;">
                                </a>

                        {% endif %}


            {% else %}

                     <li><a href="{% url 'login' %}" class="btn btn-primary" style="border-radius: 40px; font-size: 16px;"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                     <li><a href="{% url 'user_register' %}" class="btn btn-danger" style="border-radius: 40px;"><i class="fas fa-user-plus"></i> Register</a>
            
            {% endif %}
     
    
        </div>

    </div>


    <div class="navbar">
        <ul id="nav">
            <!-- Ttravel info dropdown  -->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="travelDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Travel Info
                </a>
                <div class="dropdown-menu" aria-labelledby="travelDropdown">
                    {% for travelinfo in object_list %}
                        <a class="dropdown-item" href="{% url 'travel-detail' travelinfo.pk %}">{{ travelinfo.title }}</a>
                    {% empty %}
                        <span class="dropdown-item">No travel info available</span>

                    {% endfor %}
                        <a class="dropdown-item" href="{% url 'travel' %}" style="font-weight: bold;">See more</a>
                </div>
            </li>
            <!--  other navbar objects  -->
            <li><a href="{% url 'review-view' %}">Reviews</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'contact-page' %}">Contact</a></li>
            <li><a href="{% url 'trip_category_list' %}">Trips</a></li>
            <li><a href="{% url 'guide_list' %}">Hire a Guides</a></li>
        </ul>
    </div>
</section>

<br>




<br>


<!-- trips and camps sections -->

<div class="container">
<h5 class="trip-titleb">Our Trips & Camps </h5>
</div>

<div class="row">
    {% for trip in trips %}
        <div class="col">
            <div class="card">
                
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-plane-departure"></i> {{ trip.title }}
                    </h5>
                    <p class="card-summary">
                        <i class="fas fa-info-circle"></i> {{ trip.summary|truncatechars:200 }}
                    </p>
                    <p class="card-price">
                        <i class="fas fa-dollar-sign"></i> {{ trip.price }}
                    </p>
                    <p class="card-seats">
                        <i class="fas fa-users"></i> {{ trip.available_seats }} seats available
                    </p>
                    <a href="{% url 'trip_detail' trip.slug %}" class="btn btn-danger">
                        <i class="fas fa-book"></i> Continue Reading
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="container more-button-container">
    <a href="{% url 'trip_category_list' %}" class="btn btn-danger">View More</a>

</div>



<!-- blogs section -->
<div class="travel-blog-container">
    <h1 class="main-heading">Our Blogs</h1>

    <div class="blog-cards">
        {% for blog in blogs %}
        <div class="blog-card">
            <img class="blog-image" src="{{ blog.header_image.url }}" alt="{{ blog.title }} Image">
            <div class="blog-content">
                <a href="#" class="blog-title">{{ blog.title }}</a>
                <p class="blog-author">by {{ blog.author.first_name }} {{ blog.author.last_name }}</p>
                <p class="blog-summary">{{ blog.summary|truncatechars:100 }}</p>
                
                <a href="{% url 'detail' blog.pk %}" class="btn btn-danger">Continue Reading</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<!-- 
<ul>
    {% for page in pages %}
        <li><a href="{% url 'page_detail' page.slug %}">{{ page.title }}</a></li> 
    {% endfor %}
</ul> -->

{% endblock %}