{% extends 'base.html' %}
{% load static %}
{% block content %}



{% block css %}
    <link rel="stylesheet" href="{% static 'css/materials.css' %}">
{% endblock %}


<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="material-card">
        <!-- Product Image -->
        <img src="{{ materials.image.url }}" class="material-card-img-top" alt="Product image">
        <div class="material-card-body">
          <!-- Product Title -->
          <h5 class="material-card-title">
            <i class="fas fa-box"></i> {{ materials.title }}
          </h5>

          <!-- Product Description -->
          <p class="material-card-text">{{ materials.description }}</p>

          <!-- Price with Icon -->
          <p class="material-card-price">
            <i class="fas fa-dollar-sign"></i>Price: ${{ materials.price }}
          </p>

          <!-- Available Quantity with Icon -->
          <p class="material-card-quantity">
            <i class="fas fa-cogs"></i> Available Quantity: {{ materials.quantity }}
          </p>

          <!-- Buy Now Button with Cart Icon -->
          <div class="btn-area">
            <a href="#" class="btn btn-custom">
              <i class="fas fa-shopping-cart"></i> Buy Now
            </a>
            <a href="#" class="btn btn-custom">
              <i class="fas fa-key"></i> Rent
            </a>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
