{% extends 'base.html'%}

{% block content %}


<div class="container">
        {% if user.is_authenticated %}
            <h5>Review</h5>

            <br>
            <hr>
            

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-info" type="submit">Submit</button>


            </div>
        {% else %}

                <div class="alert alert-primary" role="alert">
                    You must be logged in to review 
                </div>
        {% endif %}
</div>


{% endblock %}