{% extends 'base/base.html' %}
{% load static %}
{% block content %}




{% block css %}

    <link rel="stylesheet" href="{% static 'css/guide.css' %}">

{% endblock %}


<div class="container mt-5">
    <h2 class="text-center mb-4">Meet Our Guides</h2>
  
    

    <div class="row">
        {% for guide in object_list %}
        <div class="col-md-4 mb-4">
            <!-- Card for each guide -->
            <div class="card guide-card">
                {% if guide.photo %}
                    <img class="card-img-top guide-photo" src="{{ guide.photo.url }}" alt="{{ guide.name }}">
                {% else %}
                    <img class="card-img-top guide-photo" src="{% static 'images/profile-pic-extra.png' %}" alt="{{ guide.name }}">
                {% endif %}
                    <div class="card-body">
                    <h5 class="card-title">{{ guide.name }}</h5>
                    <div class="card-text">
                        <p><i class="fas fa-calendar-check"></i> Spare from: {{ guide.available_from }}</p>
                        <p><i class="fas fa-calendar-times"></i> Spare to: {{ guide.available_to }}</p>
                        <a href="{% url 'guide_details' guide.pk %}" class="btn btn-danger">Continue Reading</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
