{% extends 'base/core.html' %}
{% load static %}
{% block content %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/materials.css' %}">
{% endblock %}

<div class="container">
    <h2 class="material-title">Explore The Shop</h2>

    <div class="product-list">
        {% for materials in object_list %}
        <div class="product-card">
            <div class="product-image">
                <img src="{{ materials.image.url }}" alt="{{ materials.title }}">
            </div>
            <div class="product-details">
                <h3 class="product-title">{{ materials.title }}</h3>
                <p class="product-price">${{ materials.price }}</p>
                
                <div class="product-actions">
                

                    <a href="{% url 'materials_detail' materials.pk %}" class="btn-details">
                        <i class="fas fa-info-circle"></i> Details
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
