.container {
    margin-top: 50px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

h2{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 20px;
    color: #343a40;
}


.messages {
    margin-bottom: 20px;
}
.cart-items {
    margin-top: 30px;
}
.cart-item {
    border-bottom: 1px solid #f1f1f1;
    padding: 20px 0;
    display: flex;
    align-items: center;
}
.cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}
.cart-item h3 {
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    color: #343a40;
}
.cart-item p {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: #6c757d;
}
.cart-item p.price {
    font-weight: bold;
    color: #28a745;
}
.cart-item p.quantity {
    font-size: 0.9rem;
}
   
.cart-materials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   
}
.cart-materials button{
    background-color: transparent;
    color: #dc3545;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.cart-total {
    margin-top: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
}
.alert {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 10px;
}
.empty-cart {
    text-align: center;
    color: #dc3545;
    font-size: 1.2rem;
}
.btn-danger{
    margin-top:20px;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
    background-color:white;
    color: red;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;



}
.btn-danger:hover{
    background-color: red;
    color: white;
    text-decoration: none;

}
.not-logged-in {
    text-align: center;
    padding: 15px;
    font-size: 16px;
}
