{% extends 'base/core.html' %}
{% load static %}
{% block content %}

        {% block css %}
            <link rel="stylesheet" href="{% static 'css/review.css' %}">
        {% endblock%}

        <div class="review-form-container">
            {% if user.is_authenticated %}
                <h2 class="form-heading">Submit Your Review</h2>
                <hr>
                <form method="POST" enctype="multipart/form-data" class="review-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn-submit" type="submit">Submit</button>
                </form>
            {% else %}
                <div class="alert alert-primary not-logged-in" role="alert">
                    You must be logged in to leave a review.
                </div>
            {% endif %}
        </div>



{% endblock %}
