{% extends 'base/base.html' %}
{% load static %}
{% block content %}



            {% block css %}
            <link rel="stylesheet" href="{% static 'css/trips.css' %}">
            {% endblock %}



            <div class="container mt-4">
                <h1>Trip Categories</h1>
                <div class="row">
                    {% for category in categories %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            {% if category.image %}
                            <img src="{{ category.image.url }}" class="card-img-top" alt="{{ category.title }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ category.title }}</h5>
                                <p class="card-summary">{{ category.summary|truncatechars:100 }}</p>
                                <a href="{% url 'trip_category_detail' category.slug %}" class="btn btn-primary">View Trips</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>


{% endblock %}