{% extends 'base/base.html' %}
{% load static %}
{% block content %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/trips.css' %}">
{% endblock %}

<div class="container mt-5">
    <h1 class="category-title text-center">{{ trip_category.title }}</h1>
    <hr class="divider">
    
    <div class="row">
        {% for trip in trips %}
        <div class="col-md-4 col-sm-6">
            <div class="trip-card mb-4 shadow">
                <div class="trip-card-body">
                    
                    {% if trip.cover_img %}
                        <img src="{{ trip.cover_img.url }}" class="trip-card-img-top" alt="{{ trip.title }}">
                    {% else %}
                        <img src="{% static 'images/no-image.png' %}" class="trip-card-img-top" alt="{{ trip.title }}">
                    {% endif %}
                    
                    <div class="trip-card-details">
                        <h5 class="trip-card-title">{{ trip.title }}</h5>
                        <div class="trip-card-price">
                            <i class="fa fa-dollar-sign"></i>
                            <span>$ {{ trip.price }}</span>
                        </div>
                        <div class="trip-card-seats">
                            <i class="fa fa-users"></i>
                            <span>{{ trip.available_seats }} seats available</span>
                        </div>
                    </div>
                    
                    <!-- Hover Content -->
                    <div class="trip-card-hover">
                        <p class="trip-card-summary">{{ trip.summary|truncatechars:80 }}</p>
                        <a href="{% url 'trip_detail' trip.slug %}" class="btn btn-primary trip-card-btn">View Details</a>
                        {% if user.is_authenticated %}
                            <a href="#" class="btn btn-danger trip-card-btn">Book Trip</a>
                        {% else %}
                            <p class="text-warning">Login to Book!</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
