{% extends 'base/core.html' %}
{% load static %}
{% block content %}



{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}


<div class="profile-container">
    <div class="profile-header">
        <h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
    </div>

    <div class="profile-image">
        {% if user.profile.profile_pic %}
        <img src="{{ user.profile.profile_pic.url }}" class="profile-pic" alt="Profile Picture">
        {% else %}
        <img src="{% static 'images/profile-pic-extra.png' %}" class="profile-pic" alt="Default Profile Picture">
        {% endif %}
    </div>

    <div class="profile-bio">
        <p>{{ profile.bio }}</p>
    </div>

    <!-- Add any additional profile fields here -->
    <a href="{% url 'profile-edit' %}" class="edit-link">Edit Profile</a>
</div>


{% endblock %}