{% extends 'base/base.html' %}
{% load static %}
{% block content %}



{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}


<div class="profile-container">
    <div class="profile-header">
        <h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
    </div>
    
    <div class="profile-image">
        {% if user.profile.profile_pic %}
            <img src="{{ user.profile.profile_pic.url }}" class="profile-pic" alt="Profile Picture">
        {% else %}
            <img src="{% static 'images/profile-pic-extra.png' %}" class="profile-pic" alt="Default Profile Picture">
        {% endif %}
    </div>

    <div class="profile-bio">
        <p>{{ profile.bio }}</p>
    </div>

    <!-- Add any additional profile fields here -->
    <a href="{% url 'profile-edit' %}" class="edit-link">Edit Profile</a>
</div>

<!-- booking trips section -->

<div class="booked-trips-container">
    <h1>Your Booked Trips</h1>

    <!-- Display messages -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    <i class="fa {% if message.tags == 'success' %}fa-check-circle{% elif message.tags == 'info' %}fa-info-circle{% elif message.tags == 'error' %}fa-exclamation-circle{% endif %}"></i>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if tripbooking_list %}
        <ul class="trip-list">
            {% for booking in tripbooking_list %}
                <li class="trip-item">
                    <i class="fa fa-map-marker-alt"></i>
                    <a href="{% url 'trip_detail' booking.trip.slug %}" class="trip-title">{{ booking.trip.title }}</a> 
                    <span class="trip-date">{{ booking.add_date }}</span>

                    <form action="{% url 'remove_from_list' item_id=booking.id %}" method="post" class="remove-form">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-trips">You have no booked trips yet.</p>
    {% endif %}
</div>


{% endblock %}
