{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- css files link  -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

{% block css %}

{% endblock %}


    <title>Trekking</title>
  </head>                                                                                                          
  <body>

    
    <section id="header"  style="background: url('{% static 'images/everest.jpg' %}') no-repeat center center / cover;">

    <div class="container-sm">
        <div class="content">
            <div class="logo">
                <img src="{% static 'images/logo-2.png' %}" alt="Logo">
            </div>
            <div class="navbar">
                <ul id="nav-links">



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="travelDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Travel Info
                        </a>
                        <div class="dropdown-menu" aria-labelledby="travelDropdown">
                            {% for travelinfo in object_list %}
                                <a class="dropdown-item" href="{% url 'travel-detail' travelinfo.pk %}">{{ travelinfo.title }}</a>
                            {% empty %}
                                <span class="dropdown-item">No travel info available</span>
          
          
                            {% endfor %}
                                <a class="dropdown-item" href="{% url 'travel' %}" style="font-weight: bold;">See more</a>
                        </div>
                    </li>


                    <li><a href="{% url 'review-view' %}">Reviews</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'contact-page' %}">Contact</a></li>
                    <li><a href="{% url 'trip_category_list' %}">Trips</a></li>
                    <li><a href="{% url 'guide_list' %}">Hire a Guides</a></li>
                    <li><a href="{% url 'materials' %}">Shop</a></li>

                </ul>
            </div>


            <div class="auth">

                {% if user.is_authenticated %}

                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" style="background: none; border: none; cursor: pointer;">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </form>

                    {% if user.profile.profile_pic %}


                        <a href="{% url 'profile-detail' %}">
                            <img src="{{ user.profile.profile_pic.url }}" width="45" height="45" style="border-radius: 50%;">
                        </a>


                    {% else %}


                        <a href="{% url 'profile-detail' %}">
                            <img src="{% static 'images/profile-pic-extra.png' %}"
                            width="45" height="45" style="border-radius: 50%;">
                        </a>


                    {% endif %}


                {% else %}    
                
                    <a href="{% url 'login' %}">
                        <i class="fas fa-user-plus"></i>
                    </a>

                {% endif %}    

                
               
                {% if user.is_authenticated %}
                    <a href="{% url 'cart-list-view' %}">
                        <i class="fas fa-cart-plus"></i>
                    </a>
                {% endif %}




            </div>
        </div>

        <div class="search-bar">
            <input type="text" name="search-bar" placeholder="Search Trips....">
        </div> 

        <div class="info">
            <h3>
                In every walk with nature, one receives far more than they seek
            </h3>
            <p>
                Embark on a journey where every step brings you closer to nature's beauty, every climb challenges your spirit, and every view leaves you in awe. The mountains are calling—let your adventure begin.
            </p>
        </div>
    </div>
</section>


    <main>
       {% block content %}
       {% endblock %}
   </main>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     
     <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>



